<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">
    <title>Web du lịch cụa Phong</title>
</head>
<body>
<!-- chèn navvbar trong thynmleaf -->
<nav class="nav" >
    
    <ul class="main-nav">
        <li><a th:href="@{/guest/homepageGuest}" >Phong Travel</a></li>
        <li><a th:href="@{/guest/homepageGuest}">Trang chủ</a></li>
        <li><a th:href="@{/guest/tour}">Danh mục Tour</a></li>
        <li><a th:href="@{/guest/aboutUs}">Chúng tôi</a></li>
        <li><a th:href="@{/admin/login}" method="get" th class="logout-button">Đăng nhập</a></li>
    </ul>
</nav>
    <!-- ảnh lớn chiếm hết màn hình đầu trang -->
    <div class="firstPage">
        <div class="firstPageImg">
            <img src="https://cdn.pixabay.com/photo/2017/06/21/20/13/cloud-2428415_1280.jpg" alt="">
            <div class="search-box">
                <input class="search-box" type="text" name="" placeholder="Tìm kiếm">
                <a class="search-btn" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="mainContent">
        <!-- danh mục đề xuất -->
        <div class="category">
            <h2 style="margin-left:5%;">Danh mục đề xuất</h2>
            <div class="Tour-row-guest">
                <div class="tour-infor-guest" th:each=" data : ${listTourIndex}">
                    <a th:href="@{'/guest/tourInfor?id=' + ${data.id}}" >
                        <img style="size: 300px;" th:src="'data:image/jpg;base64,'+${data.image1}" alt="Tour 3">
                    </a>
                    <div class="tour-Text-infor-guest">
                        <div class="tour-Text-infor-guest1">
                            <h3> <span th:text="${data.tourName}"></span></h3>
                            <p><span th:text="${data.length}"></span></p>
                            <p><span th:text="${data.schedule}"></span></p>
                        </div>
                        <div class="tour-Text-infor-guest2">
                            <p>Giá: <span th:text="${#numbers.formatDecimal(data.price, 0, 'COMMA', 0, 'POINT')}"> đồng</span></p>
                            <a style="margin-right: 20px;" th:href="@{'/guest/tourInfor?id=' + ${data.id}}" class="info-button">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2023 Pham Phong Website</p>
    </footer>
<body>


