<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web du lịch của Phong</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">
    <link th:href="@{/assets/css/inforTour.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto:wght@100;300&display=swap}" rel="stylesheet">
    
    <script th:src="@{/assets/js/main.js}" defer></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var tourPrice = /*[[${tour.price}]]*/ 0; // Giá tour từ model
        /*]]>*/
    </script>
    
    
</head>

<body>
<!-- chèn navvbar trong thynmleaf -->
<nav class="nav" >
    
    <ul class="main-nav">
        <li><a th:href="@{/guest/homepageGuest}" >Phong Travel</a></li>
        <li><a th:href="@{/guest/homepageGuest}">Trang chủ</a></li>
        <li><a th:href="@{/guest/tour}">Danh mục Tour</a></li>
        <li><a th:href="@{/guest/aboutUs}">Chúng tôi</a></li>
        <li><a th:href="@{/admin/login}" method="get" th class="logout-button">Đăng nhập</a></li>
    </ul>
</nav>
<div class="mainContent" >
    <h1>  <span th:text="${tour.tourName}"</span></h1>
    <div class="row">
        <div class="imgAboutTour-col">
            <div class="bigImgAboutTour">

                <img id="mainImage" th:src="@{'data:image/jpg;base64,'+ ${listImage[0].image}}" alt="">
                <!-- <div th:each=" img: ${listImage}">
                    <img th:if="${img.imageNumber == 1}" th:src="'data:image/jpeg;base64,' + ${image.imageData}" alt="Tour Image">
                </div> -->
            </div>
            <div class="smallChoiceImg">
                <div class="smallImg" th:each= "data: ${listImage}" th:onclick="'changeMainImage(\'pic' + ${data.id} + '\')'">
                    <img th:id="'pic'+${data.id}" th:src="@{'data:image/jpg;base64,'+ ${data.image}}"  alt="pic" >
                </div>
            </div>
        </div>
        <div class="formTour-col">
            <div class="tourInfor-form">
                <h2>Thông tin</h2>
                <div class="row-tourInfor">
                    <div class="row-tourInforLeft"> Khởi hành: </div>
                    <div class="row-tourInforRight">
                        <span th:each="start, iterStat : ${startDateTour}">
                            <span th:text=" ${#calendars.format(start.startDate, 'dd/MM')}"></span><span th:if="${!iterStat.last}">,</span>
                        </span>
                    </div>
                </div>
                <div class="row-tourInfor">
                    <div class="row-tourInforLeft"> Thời gian: </div>
                    <div  class="row-tourInforRight">
                        <span th:text="${tour.length}"></span>
                    </div>
                </div>
                <!-- lịch trình -->
                <div class="row-tourInfor">
                    <div class="row-tourInforLeft"> Lịch trình:</div>
                    <div class="row-tourInforRight">
                        <span th:text="${tour.schedule}"></span>
                    </div>
                </div>
                <div class="row-tourInfor">
                    <div class="row-tourInforLeft">
                        Chi phí:
                    </div>
                    <div class="row-tourInforRight" id="price" >
                        <span th:text="${#numbers.formatDecimal(tour.price, 0, 'COMMA', 0, 'POINT')}"></span> đồng/Người lớn

                    </div>
                    
                </div>
                <div class="row-tourInfor">
                    <div clas="row-tourInforCenter">
                        <button class="setTourBtn" onclick="toggleForm('hiddenSetTourForm')">Đặt ngay</button>
                    </div>
                    <script>
                        
                    </script>
                </div>
                <div class="rowTourInfor">
                    <p style="color: red; text-align: center;">Liên hệ càng sớm càng nhiều ưu đãi</p>
                    <button class="setContactForm" onclick="toggleForm('hiddenContactForm')"> Yêu cầu gọi lại</button>
                    
                </div>
            </div>

        </div>
    </div>
    <div id="hiddenContactForm" style="display: none;">
        <h3>Tư vấn cho tôi</h3>
        <button id="outForm" class="outForm">✖️</button>
        <form th:action= "@{/guest/adviceRequest}" method="post" th:object="${adviceRequestDto}">
            <!-- một input hidden để lấy thông tin tour cho adviceRequest -->
            <input  name="tourId"  th:attr="value = ${tour.id}">
            <!-- tên khách hàng-->
            <div class="rowForm">
                <div class="rowFormLeft">
                    <label for="name">Họ và tên</label>
                    <input type="text" id="name" name="name" th:field="*{customerName}">
                </div>
                <div class="rowFormRight">
                    <label for="phone">Số điện thoại</label>
                    <input type="text" id="phone" name="phone" th:field="*{phoneNumber}" >
                </div>
            </div>
            <div class="rowForm">
                <div class="formButtonSubmit" >
                    <button> Xác nhận</button>
                </div>
            </div>
        </form>
    </div>
    <div id="hiddenSetTourForm" style="display: none;">
        
        <form th:action= "@{/guest/bookingRequest}" method="post" th:object="${bookingRequestDto}" >
            <button id="outForm" class="outForm">✖️</button>
            <h3 style="font-weight: bolder;"> Đặt lịch ngay nhé</h3>
            <div class="innerForm">
                <div class="rowForm">
                    <h4 class="form-label">Thông tin tour</h4>
                    <div class="rowForm">
                        <input type="hidden"  name="tourId"  th:attr="value = ${tour.id}">
                        <p><span th:text="${tour.tourName}"></span></p>
                    </div>
                </div>
                <div class="rowForm">
                    <h4 class="form-label">Thông tin khách hàng</h4>
                    <div class="rowForm">
                        <div class="rowFormLeft">
                            <label for="name">Họ và tên</label>
                            <input type="text" id="name" name="customerName" th:field="*{customerName}" >
                        </div>
                        <div class="rowFormRight">
                            <label for="phone">Số điện thoại</label>
                            <input type="text" id="phone" name="phone" th:field="*{phoneNumber}">
                        </div>
                        <div class="rowFormLeft">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" th:field="*{email}" >
                        </div>
                        <div class="rowFormRight">
                            <label for="address">Địa chỉ</label>
                            <input type="text" id="address" name="address" th:field="*{address}" >
                        </div>
                    </div>
                </div>
                <div class="rowForm">
                    <h4 class="form-label">Thông tin đặt tour</h4>
                    <div class="rowForm">
                        <div class="rowFormLeft">
                            <label for="date">Ngày khởi hành</label>
                            <select name="startDate" id="startDate">
                                <option th:each="start : ${startDateTour}" th:attr="value = ${start.startDate}"> <span th:text=" ${#calendars.format(start.startDate, 'dd/MM')}"></span></option>
                            </select>
                        </div>
                        <div class="rowFormRight">
                            <label for="number">Số hành khách trên 11 tuổi</label>
                            <input type="number" id="adults" name="number" th:field="*{over11yr}">
                        </div>
                    </div>
                    <div class="rowForm">
                        <div class="rowFormLeft">
                            <label for="number">Số trẻ em từ 6 đến 11 tuổi</label>
                            <input type="number" id="children6to11" name="number" th:field="*{from6to11yr}" >
                        </div>
                        <div class="rowFormRight">
                            <label for="number">số trẻ em dưới 6 tuổi</label>
                            <input type="number" id="childrenUnder6" name="number" th:field="*{under6yr}">
                        </div>
                    </div>
                    <div class="rowForm">
                        <div class="rowFormLeft">
                            <!-- tổng số tiền: tính bằng 100%(sô người lớn x price)+70%(trẻ từ 6 đến 11 tuổi)+ 30%(trẻ dưới 6 tuổi) -->
                            <label for="number">Tổng số tiền</label>
                            <span id="totalPrice">0 đồng</span>
                            
                        </div>
                        <div class="rowFormRight">
                            <div class="formButtonSubmit" onclick="submitForm()">
                                <button> Xác nhận</button>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </form>
    </div>
    
    <!-- Decription for tour -->
    <div class="row">
        <div class="row-inner">
            <div class="switchDecripTab">
                <ul>
                    <li class="switchDecripTabLabel">
                        <a onclick="showTab('tabDecription')">Mô tả</a>
                    </li>
                    <li class="switchDecripTabLabel">
                        <a onclick="showTab('tabSchedule')">Lịch trình</a>
                    </li>
                    <li class="switchDecripTabLabel">
                        <a onclick="showTab('tabNote')">Ghi chú</a>
                    </li>
                </ul>
            </div>
            <div class="switchTab">
                <div id="tabDecription" class="decripContent active">
                    <div class="decriptionContentTab">
                        <h2 classs="titleDecriptionTab">Mô tả</h2>
                        <span th:utext="${tour.description}"></spant>
                    </div>
                </div>
                <div id="tabSchedule" class="decripContent">
                    <div class="decriptionContentTab">
                        <h2 classs="titleScheduleTab">Lịch trình</h2>
                        <span th:utext="${tour.detailSchedule}"></span>
                    </div>
                </div>
                <div id="tabNote" class="decripContent">
                    <div  class="decriptionContentTab">
                        <h2 classs="titleNoteTab">Ghi chú</h2>
                        <span th:utext="${tour.note}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>  <!-- end Decription for tour -->
</div>
<footer style="text-align: center;">
    <p>&copy; 2023 Pham Phong Website</p>
</footer>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var adultsInput = document.getElementById("adults");
        var children6to11Input = document.getElementById("children6to11");
        var childrenUnder6Input = document.getElementById("childrenUnder6");
        var totalPriceSpan = document.getElementById("totalPrice");

        // Bắt sự kiện khi có sự thay đổi ở các input
        adultsInput.addEventListener("input", updateTotalPrice);
        children6to11Input.addEventListener("input", updateTotalPrice);
        childrenUnder6Input.addEventListener("input", updateTotalPrice);

        // Hàm cập nhật tổng số tiền
        function updateTotalPrice() {
            var adults = parseInt(adultsInput.value) || 0;
            var children6to11 = parseInt(children6to11Input.value) || 0;
            var childrenUnder6 = parseInt(childrenUnder6Input.value) || 0;

            // Tính toán tổng số tiền dựa trên giá tour và số lượng khách
            var totalPrice = adults * tourPrice + 0.7 * children6to11 * tourPrice + 0.3 * childrenUnder6 * tourPrice;

            // Hiển thị tổng số tiền
            totalPriceSpan.innerText = totalPrice.toLocaleString() + " đồng";
        }
    });
    function changeMainImage(imageId) {
        // Lấy đường dẫn của ảnh nhỏ từ id
        var imagePath = document.getElementById(imageId).src;
        
        // Thay đổi src của hình ảnh lớn
        document.getElementById('mainImage').src = imagePath;
    }
</script>

</html>