<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web du lịch của Phong</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/main.css">
    <link rel="stylesheet" href="/src/main/resources/static/assets/css/inforTour.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <!-- đường dẫn tới main.js -->
    <script src="/src/main/resources//static/assets/js/main.js" defer></script>
</head>

<body>
<!-- chèn navvbar trong thynmleaf -->
<nav class="nav" >
    
    <ul class="main-nav">
        <li><a  href="../guest/index.html" >Phong Travel</a></li>
        <li><a href="../guest/index.html">Trang chủ</a></li>
        <li><a href="../guest/tour.html">Danh mục Tour</a></li>
        <li><a href="../guest/aboutUs.html">Chúng tôi</a></li>
        <li><a href="../admin/login.html" class="logout-button">Đăng nhập</a></li>
    </ul>
</nav>
<div class="mainContent">
    <h1>  SAPA daily 2 ngày 100 đêm</h1>
    <div class="row">
        <div class="imgAboutTour-col">
            <div class="bigImgAboutTour">
                <img src="https://cdn.pixabay.com/photo/2016/11/08/05/45/mae-1807562_1280.jpg" alt="">
            </div>
            <div class="smallChoiceImg">
                <div class="smallImg">
                    <img src="https://cdn.pixabay.com/photo/2016/11/08/05/45/mae-1807562_1280.jpg" alt="">
                </div>
                <div class="smallImg">
                    <img src="https://cdn.pixabay.com/photo/2019/07/28/16/55/mountain-4369049_1280.jpg" alt="">
                </div>
                <div class="smallImg">
                    <img src="https://cdn.pixabay.com/photo/2020/04/23/06/08/reform-5081228_1280.jpg" alt="">
                </div>
                <div class="smallImg">
                    <img src="https://cdn.pixabay.com/photo/2016/11/14/04/17/buffalo-1822574_1280.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="formTour-col">
            <div class="tourInfor-form">
                <h2>Liên hệ ngay</h2>
                <div class="row-tourInfor">
                    <div class="row-tourInforLeft"> Ngày khởi hành</div>
                    <div class="row-tourInforRight"> 30/12, 1/1</div>
                </div>
                <div class="row-tourInfor">
                    <div class="row-tourInforLeft"> Thời gian: </div>
                    <div  class="row-tourInforRight"> 2 ngày 1 đêm</div>
                </div>
                <!-- lịch trình -->
                <div class="row-tourInfor">
                    <div class="row-tourInforLeft"> Lịch trình</div>
                    <div class="row-tourInforRight"> Hà Nội - Sapa - Giàng ta Chải - Hà Nội</div>
                </div>
                <div class="row-tourInfor">
                    <div clas="row-tourInforCenter">5.000.000 đồng</div>
                </div>
                <div class="row-tourInfor">
                    <div clas="row-tourInforCenter">
                        <button class="setTourBtn" onclick="toggleForm('hiddenSetTourForm')">Đặt ngay</button>
                    </div>
                    <script>
                        
                    </script>
                </div>
                <div class="rowTourInfor">
                    <p>Liên hệ càng sớm giá thành càng rẻ</p>
                    <img src="../static/img/miniPhone/myPhone.png" alt="">
                    <button class="setContactForm" onclick="toggleForm('hiddenContactForm')"> Yêu cầu gọi lại</button>
                    
                </div>
            </div>

        </div>
    </div>
    <div id="hiddenContactForm" style="display: none;">
        <h3>Tư vấn cho tôi</h3>
        <button id="outForm" class="outForm">✖️</button>
        <form>
            
            <!-- tên khách hàng-->
            <div class="rowForm">
                <div class="rowFormLeft">
                    <label for="name">Họ và tên</label>
                    <input type="text" id="name" name="name" >
                </div>
                <div class="rowFormRight">
                    <label for="phone">Số điện thoại</label>
                    <input type="text" id="phone" name="phone" >
                </div>
            </div>
            <div class="rowForm">
                <div class="formButtonSubmit" onclick="submitForm()">
                    <button> Xác nhận</button>
                </div>
            </div>
        </form>
    </div>
    <div id="hiddenSetTourForm" style="display: none;">
        
        <form>
            <button id="outForm" class="outForm">✖️</button>
            <h3 style="font-weight: bolder;"> Đặt lịch ngay nhé</h3>
            <div class="innerForm">
                <div class="rowForm">
                    <h4 class="form-label">Thông tin tour</h4>
                    <div class="rowForm">
                        <p>Sapa daily 2 ngày 1 đêm</p>
                    </div>
                </div>
                <div class="rowForm">
                    <h4 class="form-label">Thông tin khách hàng</h4>
                    <div class="rowForm">
                        <div class="rowFormLeft">
                            <label for="name">Họ và tên</label>
                            <input type="text" id="name" name="name" >
                        </div>
                        <div class="rowFormRight">
                            <label for="phone">Số điện thoại</label>
                            <input type="text" id="phone" name="phone" >
                        </div>
                        <div class="rowFormLeft">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email" >
                        </div>
                        <div class="rowFormRight">
                            <label for="address">Địa chỉ</label>
                            <input type="text" id="address" name="address" >
                        </div>
                    </div>
                </div>
                <div class="rowForm">
                    <h4 class="form-label">Thông tin đặt tour</h4>
                    <div class="rowForm">
                        <div class="rowFormLeft">
                            <label for="date">Ngày khởi hành</label>
                            <select name="startDate" id="startDate">
                                <option value="30/12">30/12</option>
                                <option value="1/1">1/1</option>
                            </select>
                        </div>
                        <div class="rowFormRight">
                            <label for="number">Số hành khách trên 11 tuổi</label>
                            <input type="number" id="number" name="number" >
                        </div>
                    </div>
                    <div class="rowForm">
                        <div class="rowFormLeft">
                            <label for="number">Số trẻ em từ 6 đến 11 tuổi</label>
                            <input type="number" id="number" name="number" >
                        </div>
                        <div class="rowFormRight">
                            <label for="number">số trẻ em dưới 6 tuổi</label>
                            <input type="number" id="number" name="number" >
                        </div>
                    </div>
                    <div class="rowForm">
                        <div class="formButtonSubmit" onclick="submitForm()">
                            <button> Xác nhận</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    
    <!-- Decription for tour -->
    <div class="row">
        <div class="row-inner">
            <div class="switchDecripTab">
                <ul>
                    <li class="switchDecripTabLabel">
                        <a onclick="showTab('tabDecription')">Mô tả</a>
                    </li>
                    <li class="switchDecripTabLabel">
                        <a onclick="showTab('tabSchedule')">Lịch trình</a>
                    </li>
                    <li class="switchDecripTabLabel">
                        <a onclick="showTab('tabNote')">Ghi chú</a>
                    </li>
                </ul>
            </div>
            <div class="switchTab">
                <div id="tabDecription" class="decripContent active">
                    <div class="decriptionContentTab">
                        <h2 classs="titleDecriptionTab">Mô tả</h2>
                        <p>Sapa - Lào Cai - Việt Nam là một điểm đến hấp dẫn với cảnh quan thiên nhiên tuyệt đẹp và văn hóa độc đáo. Nằm ở vùng núi cao phía Bắc của Việt Nam, Sapa có khí hậu mát mẻ quanh năm và được bao phủ bởi những dãy núi hùng vĩ.</p>
                        <p>Đến Sapa, du khách có thể khám phá những cánh đồng bậc thang xanh mướt, nơi được trồng lúa bậc thang từ hàng trăm năm nay. Ngoài ra, Sapa còn có nhiều bản làng của các dân tộc thiểu số như H'Mong, Dao, và Tay, mang đến cho du khách những trải nghiệm văn hóa độc đáo.</p>
                        <p>Khám phá Sapa, du khách cũng có thể leo núi Fansipan - đỉnh núi cao nhất của Việt Nam, tham quan các thác nước tuyệt đẹp như Thác Bạc và Thác Cát Cát, hay tham gia các hoạt động như đi bộ đường dài và thăm các thị trấn xung quanh.</p>
                        <p>Sapa - Lào Cai - Việt Nam là một điểm đến không thể bỏ qua đối với những ai yêu thích thiên nhiên và muốn khám phá văn hóa đa dạng của dân tộc Việt Nam.</p>
                    </div>
                </div>
                <div id="tabSchedule" class="decripContent">
                    <div class="decriptionContentTab">
                        <h2 classs="titleScheduleTab">Lịch trình</h2>
                        <h3 class="scheduleInDay">Ngày 1: Hà Nội - Sapa - Giàng Ta Chải</h3>
                        <p>Đón khách tại điểm hẹn, khởi hành đi Sapa. Trên đường đi, quý khách sẽ được ngắm nhìn những cánh đồng bậc thang xanh mướt, nơi được trồng lúa bậc thang từ hàng trăm năm nay. Ngoài ra, Sapa còn có nhiều bản làng của các dân tộc thiểu số như H'Mong, Dao, và Tay, mang đến cho du khách những trải nghiệm văn hóa độc đáo.</p>
                        <p>Đến Sapa, quý khách sẽ được tham quan thị trấn Sapa, nơi có khí hậu mát mẻ quanh năm và được bao phủ bởi những dãy núi hùng vĩ. Quý khách sẽ được tham quan các thác nước tuyệt đẹp như Thác Bạc và Thác Cát Cát, hay tham gia các hoạt động như đi bộ đường dài và thăm các thị trấn xung quanh.</p>
                        <h3 class="scheduleInDay">Ngày 2: Giàng Ta Chải - Sapa - Hà Nội</h3>
                        <p>Quý khách sẽ được tham quan các thác nước tuyệt đẹp như Thác Bạc và Thác Cát Cát, hay tham gia các hoạt động như đi bộ đường dài và thăm các thị trấn xung quanh.</p>
                        <p>Trở về Hà Nội, kết thúc chương trình.</p>
                    </div>
                </div>
                <div id="tabNote" class="decripContent">
                    <div  class="decriptionContentTab">
                        <h2 classs="titleNoteTab">Ghi chú</h2>
                        <p>Giá tour đã bao gồm:</p>
                        <p> - Xe đưa đón khách theo chương trình.</p>
                        <p> - Hướng dẫn viên tiếng Việt.</p>
                        <p> - Ăn uống theo chương trình.</p>
                        <p> - Vé tham quan theo chương trình.</p>
                        <p> - Bảo hiểm du lịch.</p>
                        <p>Giá tour không bao gồm:</p>
                        <p> - Chi phí cá nhân.</p>
                        <p> - Chi phí ăn uống ngoài chương trình.</p>
                        <p> - Chi phí tham quan ngoài chương trình.</p>
                        <p> - Chi phí phát sinh do thiên tai, bão lụt, đình công, giãn cách xã hội,...</p>
                        <p> - Chi phí phát sinh khác ngoài chương trình.</p>
                        <p> - Giá tour trẻ em:</p>
                        <p> + Trẻ em dưới 5 tuổi: Miễn phí.</p>
                        <p> + Trẻ em từ 5 - 11 tuổi: 50% giá tour.</p>
                        <p> + Trẻ em trên 12 tuổi: Giá tour như người lớn.</p>
                        <p> - Giá tour áp dụng cho nhóm 10 khách trở lên.</p>
                        <p> - Giá tour có thể thay đổi vào các ngày lễ, tết.</p>
                        <p> - Giá tour có thể thay đổi theo số lượng khách.</p>
                        <p> - Giá tour có thể thay đổi theo thời điểm.</p>
                        <p> - Giá tour có thể thay đổi theo yêu cầu của khách hàng. <br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>  <!-- end Decription for tour -->
</div>
<footer style="text-align: center;">
    <p>&copy; 2023 Pham Phong Website</p>
</footer>
</body>
</html>