<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">
    <link th:href="@{/assets/css/tour.css}" rel="stylesheet">

    <title>Web du lịch cụa Phong</title>
</head>
<body>
    <nav class="nav" >
    
        <ul class="main-nav">
            <li><a th:href="@{/guest/homepageGuest}" >Phong Travel</a></li>
            <li><a th:href="@{/guest/homepageGuest}">Trang chủ</a></li>
            <li><a th:href="@{/guest/tour}">Danh mục Tour</a></li>
            <li><a th:href="@{/guest/aboutUs}">Chúng tôi</a></li>
            <li><a th:href="@{/admin/login}" method="get" th class="logout-button">Đăng nhập</a></li>
        </ul>
    </nav>
    <div class="mainContent">
        <div clas="headMainContent">
            <!-- thanh drop down lựa chọn kiẻu sắp xếp dữ liệu-->
            <div class="row">
                <!--thêm thanh tìm kiếm -->

                <div class="dropdown-content">
                    <p>Hiển thị cả 3 kết quả</p>
                    <div>
                        <select name="Sắp xếp theo" id="filter-content">
                            <option value="increPrice">Giá tăng dần</option>
                            <option value="decrePrice">Giá giảm dần</option>
                            <option value="increLenght">Thời gian tăng dần</option>
                            <option value="decreLenght">Thời gian giảm dần</option>
                            <option value="nearlyDate">Ngày khởi hành gần nhất</option>
                        </select>
                    </div>
                </div>
            </div>
                
            <div>
                <div class="row">
                    <div class="box-tour-content">
                        
                        <div class="tour" th:each=" tour : ${listTour}">
                            <img style="size: 300px;" src="https://cdn.pixabay.com/photo/2015/08/19/17/14/vietnam-896307_1280.jpg" alt="Tour 3">
                            <div class="tour-body-text">
                                <h3><span th:text="${tour.tourName}"></span></h3>
                                <p><span th:text="${tour.length}"></span></p>
                                <p><span th:text="${tour.schedule}"></span></p>
                                <div>
                                    <p>Giá: <span th:text="${#numbers.formatDecimal(tour.price, 0, 'COMMA', 0, 'POINT')}"></span> đồng</p>
                                    <a th:href="@{'/guest/tourInfor?id=' + ${tour.id}}" class="info-button">Chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        


    </div>
    <footer>
        <p>&copy; 2023 Pham Phong Website</p>
    </footer>
</body>